body {
    background-image: url('/images/login.jpg');
    background-size: cover;
}

.back {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

form {
    background-color: rgba(255, 255, 255, 0.6);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 30%;
    height: 450px;
    margin: auto;
    margin-top: 10%;
    font-size: larger;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

form div {
    margin-left: 27%;
    margin-top: 20%;
}